<!-- defaults -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<!-- CSS -->
<link rel="stylesheet" href="404.css">
<!-- body -->
<body>
    <!-- Page Not Found Section -->
    <section class="page-not-found">
        <img src="404.png" alt=""/>
        <h1>Lost in space</h1>
        <p>You have reached the edge of the universe. Click 
            <a href="/">here</a> to come back to your planet.
        </p>
        <button onclick="window.location.href='/'">Back</button>
    </section>
</body>
