<!-- CSS -->
<link rel="stylesheet" href="about.css">

<!-- Team Members Info -->
<section id = "team">
    <%- include ("./partials/messages"); %> 
    <h1 class="heading"><i class="fas fa-rocket"></i>Team Members</h1>

    <div class="container">
        <!-- Box 1 -->
        <div class="box">
            <div class="top-bar"></div>
            <div class="nav">
                <i class="verify fas fa-check-circle"></i>
                <input class="heart-btn" type="checkbox" id="heart-btn">
                <label class="heart" for="heart-btn"></label>
            </div>
            <div class="details">
                <img src="Nazira.jpg">
                <strong>Nazira Kadyrova</strong>
                <p>201436@astanait.edu.kz</p>
            </div>
            <div class="btns">
                <a href="https://t.me/kcreate"><i class="fab fa-telegram"></i>Telegram</a>
                <a href="https://github.com/garyshker22"><i class="fab fa-github"></i>Github</a>
            </div>
        </div>
        <!-- Box 2 -->
        <div class="box">
            <div class="top-bar"></div>
            <div class="nav">
                <i class="verify fas fa-check-circle"></i>
                <input class="heart-btn" type="checkbox" id="heart-btn2">
                <label class="heart" for="heart-btn2"></label>
            </div>
            <div class="details">
                <img src="Kuanyshbek.jpg">
                <strong>Kuanyshbek Sagyngaliyev</strong>
                <p>201564@astanait.edu.kz</p>
            </div>
            <div class="btns">
                <a href="https://t.me/illustrately"><i class="fab fa-telegram"></i>Telegram</a>
                <a href="https://github.com/kuanyshbeks"><i class="fab fa-github"></i>Github</a>
            </div>
        </div>
        <!-- Box 3 -->
        <div class="box">
            <div class="top-bar"></div>
            <div class="nav">
                <i class="verify fas fa-check-circle"></i>
                <input class="heart-btn" type="checkbox" id="heart-btn3">
                <label class="heart" for="heart-btn3"></label>
            </div>
            <div class="details">
                <img src="Assylnur.jpg">
                <strong>Assylnur Lesken</strong>
                <p>201030@astanait.edu.kz</p>
            </div>
            <div class="btns">
                <a href= "https://t.me/tl18g"><i class="fab fa-telegram"></i>Telegram</a>
                <a href="https://github.com/Assylnur"><i class="fab fa-github"></i>Github</a>
            </div>
        </div>
    </div>
</section>

<!-- Review -->
<section id="testimonials">
    <div class="testimonial-heading">
        <span>Comments</span>
        <h1>About Service</h1>
    </div>
    <div class="testimonial-box-container">
        <!-- BOX 1 -->
        <div class="testimonial-box">
            <div class="box-top">
                <div class="profile">
                    <div class="name-user">
                        <strong>Ashley Kenni</strong>
                        <span>kennash@gmail.com</span>
                    </div>
                </div>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
            <div class="client-comments">
                <p>I use garyshker to manage all my tasks not related to projects. I also use it as a CRM for personal meetings and a wish list for books and other things I am looking to purchase. All my tasks are split into two sections. One for personal and one for business.</p>
            </div>
        </div>
        <!-- BOX 2 -->
        <div class="testimonial-box">
            <div class="box-top">
                <div class="profile">
                    <div class="name-user">
                        <strong>Aldiyar Semeykhan</strong>
                        <span>aldiyars@nu.edu.kz</span>
                    </div>
                </div>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="client-comments">
                <p>I mainly used Todoist to manage my personal projects as well as some corporate ones. It is an easy to use productivity app that can work across different OS platforms. I used it to keep track of my progress of lists like groceries, personal productivity targets and a few others.</p>
            </div>
        </div>
        <!-- BOX 3 -->
        <div class="testimonial-box">
            <div class="box-top">
                <div class="profile">
                    <div class="name-user">
                        <strong>Katherin Lengold</strong>
                        <span>lengoldkey@outlook.com</span>
                    </div>
                </div>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="client-comments">
                <p>Onboarding and complexity is kept to a minimum. Other platforms like OmniFocus were far too complex to figure out in comparison.
                    Flexibility was key as well. I was able to quickly set up personal and professional to-do's, without a lot of additional effort.</p>
            </div>
        </div>
        <!-- BOX 4 -->
        <div class="testimonial-box">
            <div class="box-top">
                <div class="profile">
                    <div class="name-user">
                        <strong>May Kali</strong>
                        <span>maykali@gmail.com</span>
                    </div>
                </div>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
            <div class="client-comments">
                <p>Today I make more personal use of garyshker and not just things from my job. I use it more to write down small daily jobs or quick things for the next few days. I save time knowing what I need to do in my day.</p>
            </div>
        </div>
    </div>
</section>

<!-- Your review --> 
<section id="review-form">
    <div class="review-heading">
        <span>Write us a</span>
        <h1>Review</h1>
    </div>
    <div class="wrapper">            
        <form class="review-form" id="contactform" action="https://formsubmit.io/send/garyshkerplanner@gmail.com" method="POST">
            <input name="_redirect" type="hidden" id="name" value="https://garyshker.herokuapp.com/about/msg">
            <div class="input-fields">
                <input name="name" type="text" id="name" class="input" placeholder="Name">
                <input name="email" type="email" id="email" class="input" placeholder="Email address">
                <p>Rate our service</p>
                <div class="star-widget">
                    <input type="radio" name="rate" id="rate-5" value="5">
                        <label for="rate-5" class="fas fa-star"></label>  
                    <input type="radio" name="rate" id="rate-4" value="4">
                        <label for="rate-4" class="fas fa-star"></label> 
                    <input type="radio" name="rate" id="rate-3" value="3">                         
                        <label for="rate-3" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-2" value="2">
                        <label for="rate-2" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-1" value="1">
                        <label for="rate-1" class="fas fa-star"></label>
                </div>
            </div>
            <div class="msg">
                <textarea name="message" id="message" placeholder="Message"></textarea>
                <input name="_formsubmit_id" type="text" style="display:none"> 
                <input type="submit" value="Send" class="submit-btn">
            </div>
        </form>
    </div>
</section>
