<!-- CSS -->
<link rel="stylesheet" href="dashboard.css">
        
<!-- User profile -->
<section id = "profile">
    <div class="profile_card">
        <img src = "avatar.png" alt="Avatar" class="profile_photo">
        <h1 class="profile_name"><%= name %> </h1>
        <p class="email"><%= email %></p>
        <p class="location"><i class = "fa fa-map-marker-alt"></i> Galaxy of AITU</p>
        <div class="contacts">
            <a href="/" class="home"><i class="fas fa-home"></i>Home page</a>
            <a href="/users/logout" class="logout"><i class="fa fa-times-circle"></i>Log out</a>
        </div>
        <p class="planners_title">Planners</p>
        <div class="navigation1">
            <a href="/sprint" class="sprint_btn"><i class = "fa fa-columns"></i>Sprint</a>
            <a href="/weekly" class="weekly_btn"><i class = "fa fa-calendar-check-o"></i>Weekly</a>
        </div>
        <div class="navigation2">
            <a href="/achievement" class="achievement_btn"><i class = "fa fa-trophy"></i>Achievement & Gratitude</a>
        </div>
    </div>
</section>

         
       