<!-- CSS -->
<link rel="stylesheet" href="welcome.css">

<!-- Main banner -->
<section id="main">
    <div class="text">
        <strong>You Can <span class="type"></span>With Us </strong>
        <p>Agile planner for your goal achievement and time management</p>
    </div>
</section>

<!-- Planners boxes -->
<section class="planners">
    <div class="p-heading">
        <h1>Planners</h1>
        <p>We Provide The Best Only For You!</p>
    </div>
    <div class="p-box-container">
        <!-- BOX 1 -->
        <div class="p-box">
            <div class="bar"></div>
            <img src="sprint.png" alt="1">
            <h1>Sprint</h1>
            <p>Set one to three goals for the next sprint, break the goal into milestones, and schedule them for the appropriate sprint weeks. Try to make your goals as specific as possible and avoid getting too big at the start. </p>
            <a href="/sprint" class="p-btn">More</a>
        </div>
        <!-- BOX 2 -->
        <div class="p-box">
            <div class="bar"></div>
            <img src="weekly.png" alt="1">
            <h1>Weekly planner</h1>
            <p>Make a schedule for the week. Plan the next day in the evening. Define three priority tasks (marked!) And start the day by working on them.</p>
            <a href="/weekly" class="p-btn">More</a>
        </div>
        <!-- BOX 3 -->
        <div class="p-box">
            <div class="bar"></div>
            <img src="achievement.png" alt="1">
            <h1>Achievement & Gratitude</h1>
            <p>Fill out the journal of achievements and gratitude daily. Record victories (even the smallest ones) and events and people worth saying "thank you" for. Avoid general phrases, capture details, and nuances.</p>                
            <a href="/achievement" class="p-btn">More</a>
        </div>
    </div>
</section>

<!-- Features section -->
<section id="features">
    <div class="features-heading">
        <span>4 features</span>
        <strong>Why You Should Use Our Service</strong>
    </div>
    
    <div class="features-container">
        <!-- Box 1 -->
        <div class="feature-box">
            <i class="fa fa-line-chart"></i>
            <strong>Efficiency</strong>
            <p>It is effective in helping you stay focused on your most important tasks instead of showing you how much work you still need to do in a short time.</p>
        </div>
        <!-- Box 2 -->
        <div class="feature-box">
            <i class="fa fa-exchange"></i>
            <strong>Productivity</strong>
            <p>A reminder from your weekly planner will help you avoid procrastination at work and you will certainly stop wasting your valuable time by investing it in being productive.</p>
        </div>
        <!-- Box 3 -->
        <div class="feature-box">
            <i class="fas fa-tasks"></i>
            <strong>Task management</strong>
            <p>A good weekly task management software and planner will allow you to keep the most important activities visible at all times along with reminding you about them so you do not get busy in some other task and miss a more important one.</p>
        </div>
        <!-- Box 4 -->
        <div class="feature-box">
            <i class="fa fa-check-square-o"></i>
            <strong>Sense of accomplishment</strong>
            <p>The feeling of accomplishment after completing all the tasks by the end of the week does not only satisfy you but keeps you motivated towards work. It boosts your interest at work so that you can accomplish any complicated task with ease.</p>
        </div>
    </div>
</section>

<!-- Quotes section -->
<section id="quote">
    <div class="quote-heading">
        <span>Quotes</span>
        <strong>of the month</strong>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="profile">
                <div class="imgBox">
                    <img src="brian.jpg">
                </div>
                <h2>Brian Tracy</h2>
            </div>
            <p><span class="fa fa-quote-left left"></span>The checklist is one of the most high powered productivity tool ever discovered.<span class="fa fa-quote-right right"></span></p>
        </div>
        <div class="container">
            <div class="profile">
                <div class="imgBox">
                    <img src="patti.jpg">
                </div>
                <h2>Patti Digh</h2>
            </div>
            <p><span class="fa fa-quote-left left"></span>Sometimes our stop-doing list needs to be bigger than our to-do list.<span class="fa fa-quote-right right"></span></p>
        </div>
        <div class="container">
            <div class="profile">
                <div class="imgBox">
                    <img src="atul.jpg">
                </div>
                <h2>Atul Gawande</h2>
            </div>
            <p><span class="fa fa-quote-left left"></span>Under conditions of complexity, not only are checklists a help, they are required for success.<span class="fa fa-quote-right right"></span></p>
        </div>
    </div>
</section>

<!-- type.js -->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<!-- script -->
<script>
    var typed = new Typed('.type', {
        strings: ['Develop Your Skills', 'Manage Your Time', 'Learn How To Plan'],
        typeSpeed: 100,
        backSpeed: 70, 
        loop: true,
    });
</script>
