/* Achievement & Gratitude table */
.achievement_main{
    padding: 30px;
}
.title_table{
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.table th{
    background-color: #371a45;
    color: white;
}
.table td, .table th{
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}
textarea {
    border: 1px solid #ddd;
    font-family: inherit;
    font-size: inherit;
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
    resize: none;
}  
.recent_plans table{
    width: 100%;
    border-collapse: collapse;
}
.recent_plans table td{
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
.recent_plans table tbody tr:not(:last-child):hover{
    background-color: #371a45;
    color: white;
}
.recent_plans table tbody tr:last-child td{
    text-align: center;
}
.sbbutton{
    background-color: #371a45;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}
.sbbutton:hover{
    color: blue;
}
.save_btn{
    background-color: #371a45;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 7px;
}
.save_btn:hover{
    color: blue;
}
.block_bold{
    font-weight: bold;
}
.block{
    text-align: center;
}

@media(max-width: 767px){
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }
    .recent_plans table tr{
        margin-bottom: 0;
    }
    .table tr{
        margin-bottom: 20px;
    }
    .table td{
        padding-left: 50%;
        text-align: right;
        position: relative;
    }
    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}

/* Banner */

.banner{
    padding: 100px;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .content{
    max-width: 700px;
    text-align: center;
}
.banner .content h2{
    font-size: 3.25em;
    font-weight: 700;
    margin-bottom: 15px;
}
.banner .content p{
    font-size: 1em;
    margin-bottom: 15px;
}
.banner .content a{
    display: inline-block;
    background: #371a45;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
    border-radius: 5px;
}
.banner .image{
    filter: inherit(1);
    max-width: 400px;
    margin-left: 50px;
    width: 350px;
    height: auto;
}

@media(max-width: 991px){
    .banner{
        padding: 150px 20px 50px;
        flex-direction: column;
    }
    .banner .image{
        margin-left: 0;
        max-width: 80%;
    }
    .banner .content h2{
        font-size: 2.5em;
    }
}
@media(max-width: 600px){
    .banner .image{
        margin-top: 30px;
    }
}


/* Manual */
.manual{
    min-height: 70vh;
    padding: 60px 15px;
    margin-bottom: 40px;
}
.manual-title{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 75px;
}
.manual-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.manual-items::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #371a45;
    left: calc(50% - 1px);
}
.manual-item{
    color: #371a45;
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.manual-item:last-child{
    margin-bottom: 0;
}
.manual-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.manual-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.step-dot{
    height: 16px;
    width: 16px;
    background-color: #371a45;
    left: calc(50% - 8px);
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    top: 34px;
}
.step-content{
    background-color: #371a45;
    color: white;
    padding: 30px;
    border-radius: 5px;
}
.step-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}
.step-content p{
    color: #c8c8c8;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

@media(max-width: 767px){
    .manual-items::before{
        left: 7px;
    }
    .manual-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .manual-item:nth-child(even), 
    .manual-item:nth-child(odd){
        padding-left: 37px;
    }
    .step-dot{
        left: 0;
    }
}
@media(max-width: 500px){
    .manual-title{
        font-size: 40px;
        margin-bottom: 50px;
    }
}

::selection{
    color: white;
    background-color: #371a45;
}